/* Color Pallette: 
    -lightest color: #EDE0D4
    -light: #E6CCB2
    -caramel: #DDB892
    -camel: #B08968
    -dark-brown: #7F5539
    -milk-chocolate: #9C6644
    */

/* Adding font-family for the project. downloaded file from Google Fonts */
@font-face {
    font-family: 'Quicksand';
    src: url(../fonts/Quicksand-VariableFont_wght.ttf) format('truetype');
} 

@font-face {
    font-family: 'Lato';
    src: url(../fonts/Lato-Regular.ttf) format('truetype');
} 

/* setting default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #EDE0D4;
    font-family: 'Lato', sans-serif;
    color: #5e361b;
}

/* Navigation stylings */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    margin-bottom: 3%;
    box-shadow: 0 2px 4px 0 rgba(94, 54, 27, .2);
}

nav ul {
    list-style: none;
    text-align: center;
    padding: 18px 0;
    background-color: #5e361b;
}

nav li {
    font-size: 1.4em;
    display: inline-block;
}

nav li.active {
    background-color: rgba(122, 101, 149, 0.4);
    transition: .4s ease background-color;
    padding: 5px 10px;
}

nav a {
    text-decoration: none;
    padding: 0 30px;
    color: #EDE0D4;
    font-weight: 500;
    letter-spacing: 1.2px;
}

nav a:hover {
    text-decoration: underline;
    transition:.4s ease;
}

.home-page-nav ul{
    background-color: transparent;
    box-shadow: none;
}

.home-page-nav a {
    color: #EDE0D4;
}

/* Home page styles */
.hero {
    position: relative;
    text-align: center;
    color: #EDE0D4;
}

#slideshow {
    text-align: center;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
  }

  .hero img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}
  
  .slide-wrapper {
    width: 400vw;
    -webkit-animation: slide 18s ease infinite;
}
  
.slide {
    float: left;
    height: 100vh;
    width: 100vw;
}

@-webkit-keyframes slide {
    20% {margin-left: 0px;}
    30% {margin-left: -100vw;}
    50% {margin-left: -100vw;}
    60% {margin-left: -200vw;}
    70% {margin-left: -200vw;}
    80% {margin-left: -300vw;}
    90% {margin-left: -300vw;}
}

.hero .hero-text {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(127, 85, 57, 0.8);
    padding: 3% 4%;
    border-radius: 140px 0;
    z-index: 99;
}

.hero-text h1 {
    font-size: 3em;
    padding-bottom: 10px;
}

.hero-text p {
    font-size: 1.2em;
    padding-top: 10px;
}

/* Header styles for contact and about pages */
.page-header {
    text-align: center;
    padding: 2em;
    margin-bottom: 2%;
}

.page-text {
    text-align: center;
    margin: 2% 0;
}

/* About page section*/

.section {
    margin: 2% 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 3% 0;
}

.top {
    margin-top: 8%; 
}

.about-section {
    width: 100%;
    height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 3% 0;
}

.section.dark-section {
    background-color: #9C6644;
    color: #EDE0D4;
}

.about-section.reverse {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.about-section img {
    width: 30%;
    height: 100%;
    object-fit: cover;
}

.section-header {
    width: 53%;
    font-size: 2.2rem;
    text-align: center;
    border-bottom: 1px solid #5e361b;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

.section-header span {
    background-color: #EDE0D4;
    padding: 0 10px;
}

.section-header.light {
    border-bottom: 1px solid #EDE0D4;
}

.section-header.light span {
    background-color: #9C6644;
    padding: 0 10px;
}

.about-section p {
    text-align: center;
    
}

.about-section p, 
.about-section ul {
    width: 50%;
    padding: 0 8%;
    font-size: 1.2em;
}


/* Home page footer*/
#home-footer {
    position: absolute;
    text-align: center;
    bottom: 5px;
    left: 45%;
    transform: translate(0, -50%);
}

.contact-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}


/* Form styles */
form {
    background-color: rgba(127, 85, 57, .9);
    width: 40%;
    padding: 2% 3%;
    margin: auto;
    border-radius: 5px;
}

.form-section {
    display: flex;
    flex-direction: column;
    color: #EDE0D4;
}

.textarea-section {
    width: 90%;
    height: 100px;
    padding: 10px;
	margin: 0 auto;
    resize: none;
    border-radius: 4px;
    border: 0.2px solid #E6CCB2;
    color: #5e361b;
}

input[type=text],
input[type=email] {
    height: 30px;
    width: 90%;
    padding-left: 10px;
	margin: 0 auto;
    border-radius: 4px;
    border: 0.2px solid #E6CCB2;
    color: #5e361b;
}

input[type=submit] {
    width: 80px;
	margin-top: 20px;
	margin-left: 5%;
	padding: 0.75rem;
	background-color: #5e361b;
	color: #EDE0D4;
	border: none;
	border-radius: 5px;
    font-size: 15px;
}

input[type=submit]:hover {
    background-color: #E6CCB2;
    color: #5e361b;
    transition: 0.4s;
}

.form-label {
    margin: 0 5%;
    margin-top: 5px;
    padding: 5px 0;
    font-size: 15px;
}

/* Footer for contact and about page */

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 5px 0;
}

.site-footer {
    text-align: center;
    padding: 1em 0;
    background-color: #5e361b;
    color: #EDE0D4;
    bottom: 0;
}

.site-footer p {
    padding: 5px 15px;
}

/*Media queries for adjusting size for responsiveness*/


@media screen and (max-width: 375px),
    screen and (max-height: 700px) {

    .contact-footer {
        position: unset;
    }
}

/*This will target all screen sizes below 769px width*/
@media screen and (max-width: 769px) {

    nav li {
        font-size: 1em;
        display: inline-block;
    }

    nav a {
        padding: 0 8px;
    }

    .page-header {
        font-size: 1rem;
        padding: 1.2em;
    }

    .page-text {
        padding: 2% 5%;
        font-size: 0.9rem;
        font-weight: 100;
    }

    form {
        width: 80%;    
        padding: 5% 3%;
    }

    .site-footer {
        padding: 0.6em 0;
        margin-top: 3.2em; 
    }

    .about-section, 
    .about-section.reverse {
        display: flex;
        flex-direction: column; 
        height: fit-content;
    }

    .about-section img{
        width: 100%;
        height: 300px;
    }

    .about-section p {
        width: auto;
        padding: 3% 6%;
        font-size: 1em;
    }

    .about-section ul {
        width: auto;
        margin: 4% 4%;
        font-size: 1em;
    }

    .hero .hero-text {
        width: 70%;
        padding: 6% 6%;
        border-radius: 70px 0;
    }
    
    .hero-text h1 {
        font-size: 1.8em;
    }

    #home-footer {
        left: 30%;
    }

    .section-header {
        width: auto;
        font-size: 1.8em;
        padding-top: 12px;
    }
    
}

/*This will target all screen sizes from 769px to 1024px width (most tablets and other small screens)*/
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .hero .hero-text {
        width: 60%;
        padding: 5% 4%;
        border-radius: 140px 0;
    }
    
    .hero-text h1 {
        font-size: 2em;
    }

    .about-section p {
        padding: 2% 6%;
    }

    form {
        width: 70%;    
        padding: 5% 3%;
    }
}