/* Color Pallette: 
    -lightest color: #EDE0D4
    -light: #E6CCB2
    -caramel: #DDB892
    -camel: #B08968
    -dark-brown: #7F5539
    -milk-chocolate: #9C6644
    */

/* Adding font-family for the project. downloaded file from Google Fonts */
@font-face {
    font-family: 'Quicksand';
    src: url(../fonts/Quicksand-VariableFont_wght.ttf) format('truetype');
} 

@font-face {
    font-family: 'Lato';
    src: url(../fonts/Lato-Regular.ttf) format('truetype');
} 

/* setting default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #EDE0D4;
    font-family: 'Lato', sans-serif;
}

/* Navigation stylings */
nav ul {
    list-style: none;
    text-align: center;
    padding: 18px 0;
    background-color: #E6CCB2;
}

nav li {
    font-size: 1.4em;
    display: inline-block;
}

nav a {
    text-decoration: none;
    padding: 0 30px;
    color: #7F5539;
    font-weight: 500;
    letter-spacing: 1.2px;
}

nav a:hover {
    text-decoration: underline;
    transition:.4s ease;
}


/* Home page styles */
.hero {
    position: relative;
    text-align: center;
    color: #EDE0D4;
}

.hero img {
    width: 100%;
    height:fit-content;
    opacity: 0.8;
}

.hero .hero-text {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(127, 85, 57, 0.8);
    padding: 3% 4%;
    border-radius: 140px 0;
}

.hero-text h1 {
    font-size: 3em;
    padding-bottom: 10px;
}

.hero-text p {
    font-size: 1.2em;
    padding-top: 10px;
}

/* Header styles for contact and about pages */
.page-header {
    text-align: center;
    padding: 2%;
}

.page-text {
    text-align: center;
    padding: 2%;
}

/* Home page footer*/
#home-footer {
    position: absolute;
    text-align: center;
    bottom: 5px;
    left: 45%;
    transform: translate(0, -50%);
}


/* Form styles */
form {
    background-color: rgba(127, 85, 57, .9);
    width: 40%;
    padding: 2% 3%;
    margin: 5% auto;
    border-radius: 5px;
}

.form-section {
    display: flex;
    flex-direction: column;
    color: #EDE0D4;
}

.textarea-section {
    width: 90%;
    height: 100px;
    padding: 10px;
	margin: 0 auto;
    resize: none;
    border-radius: 4px;
    border: 0.2px solid #E6CCB2;
    color: #5e361b;
}

input[type=text],
input[type=email] {
    height: 30px;
    width: 90%;
    padding-left: 10px;
	margin: 0 auto;
    border-radius: 4px;
    border: 0.2px solid #E6CCB2;
    color: #5e361b;
}

input[type=submit] {
    width: 80px;
	margin-top: 20px;
	margin-left: 5%;
	padding: 0.75rem;
	background-color: #5e361b;
	color: #EDE0D4;
	border: none;
	border-radius: 5px;
    font-size: 15px;
}

input[type=submit]:hover {
    background-color: #E6CCB2;
    color: #5e361b;
    transition: 0.4s;
}

.form-label {
    margin: 0 5%;
    margin-top: 5px;
    padding: 5px 0;
    font-size: 15px;
}

/* Footer for contact and about page */
.site-footer {
    text-align: center;
    
}

.site-footer footer {
    position: absolute;
    bottom: 10px;
    left: 45%;
}